* {
    box-sizing: border-box;
}

:root {
  --gradient-primary: linear-gradient(90deg, #FF713B, #FFA51D);
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  color: #404040;
  text-align: center;
}

/* ==========Typography========== */

h1 {
  font-size: 2.23rem;
  font-weight: 300;
  color: #fff;
  /* margin: 2em 0; */
}
/* adjacent sibling */
h1 + p {
  color: #f18119;
  font-weight: 900;
  font-size: 1.3125rem;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: 1.3125rem;
  margin: 0;
}

h2 + p {
  color: #f18119;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 0;
}

.top-text {
  font-size: 0.625rem;
  font-weight: 900;
  color: #f18119;
  text-transform: uppercase;
  order: -1;
  border-top: 5px solid #f18119;
  margin: 0 auto;
  padding-top: 2px;
  border-image: var(--gradient-primary) 1;
  width: fit-content;
}


.fine-print {
  font-size: 0.625rem;
  letter-spacing: 1px;
}
strong {
  font-weight: 900;
}

/* ==========intro section========== */

.intro {
  background-image: url("../images/ribs.jpg");
  background-color: #473b31F5 ;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  padding: 0 .5em 2em;
}

/* ==========main-content section========== */

.main-content {
    padding: 2em 1em;
}

.container {
    max-width: 400px;
    margin: 0 auto;
}

.container-intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50vh;
  }

/* ==========form========== */

input, .btn {
  width: 100%;
  border-radius: 5px;
  padding: 0.25em;
}

input {
  margin-bottom: 0.75em;
  text-align: inherit;
  font-family: inherit;
  border: solid 1px #404040;
  transform: scale(1);
}

.btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 900;
  font-size: 0.625rem;
  border: 0;
  padding: 1em 0.25em;
  cursor: pointer;
}

.btn-primary {
  background-image: var(--gradient-primary);
  color: #fff;
  transform: scale(1);
}

.btn-primary:hover,
.btn-primary:focus,
input:focus {
  transform: scale(1.05);
  transition: transform 0.25s;
}

.email-collector {
  width: 80%;
  max-width: 300px;
  margin: auto;
}

/* ==========media queries========== */

@media (min-width: 500px) {
    body {
        font-size: 1.125rem;
        display: flex;
    }

    h1 {
        font-size: 3.5rem;
    }

    h2,
    h1 + p {
        font-size: 1.75rem;
    }
    .intro,
    .main-content {
        width: 50%;
        min-height: 100vh;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .container-intro {
        height: 100%;
    }
}